.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 60%;
    margin-top: 2.5cm;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-title {
    margin-bottom: 2rem;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .alert-danger {
    margin-top: 0.5rem;
  }
  
  .btn-primary {
    border-radius: 5px;
  }
  
  
  
  .card-footer {
    background-color: #f8f9fa;
    padding: 15px;
    border-top: none;
  }
  
  .profile-picture {
    display: flex;
    align-items: center;
  }
  
  .profile-picture label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .profile-picture input[type="file"] {
    display: none;
  }
  
  .invalid-feedback {
    color: #dc3545;
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }