<div class="profile-card">
  <div class="profile-picture">
    <img [src]="user.picture || 'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg'" alt="avatar" />
  </div>
  <div class="profile-details">
    <h3 class="profile-name">{{ user.firstName }} {{ user.lastName }}</h3>
    <p class="profile-info">Email: {{ user.email }}</p>
    <p class="profile-info">Username: {{ user.username }}</p>
    <p class="profile-info">Address: {{ user.address }}</p>
    <p class="profile-info">Birthday: {{ user.birthday | date:'MM/dd/yyyy' }}</p>
  </div>
  <div class="profile-footer">
    <button class="edit-profile-button" [routerLink]="['/dashboard/profile']">Edit Profile</button>
  </div>
</div>