<header class="mb-auto">
  <div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top nav-masthead float-md-end" style="background-color: #fababa;">
      <h1 class="header-pointer float-md-end mb-0 ms-2" [routerLink]="['/dashboard/main']">Cover</h1>
      <div class="d-flex ms-auto">
        <div class="menu-items d-flex align-items-center">
          <a class="nav-link mt-1 me-2" [routerLink]="['profile']">Profile</a>
          <a class="nav-link active alias" (click)="Logout()">Sign Out</a>
        </div>
      </div>
    </nav>
  </div>
</header>
