<div class="card shadow-lg" >
  <div class="card-body text-center">
    <h3>Add Article</h3>
    <form [formGroup]="formAddArticle">
      <div class="form-outline mb-4">
        <label for="email" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name">
              <span *ngIf="!name.valid && (name.touched)" class="alert alert-danger">
                <span *ngIf="name.hasError('required')">
                    Please provide name
                </span>
                <span *ngIf="name.hasError('minlength')">
                  Please provide valid name
                </span>
              </span>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="typePasswordX-2" >Price</label>
        <input type="number" min="0" max="1000000" id="typePasswordX-2" class="form-control form-control-lg" formControlName="price" style="text-align:center ;"/>
        <span *ngIf="!price.valid && (price.touched)" class="alert alert-danger">
          <span *ngIf="price.hasError('required')">
            Please provide price
          </span>
        </span>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="typePasswordX-2" >Quantity</label>
        <input type="number" min="0" max="1000000" id="typePasswordX-2" class="form-control form-control-lg" formControlName="quantity" style="text-align:center ;"/>
        <span *ngIf="!quantity.valid && (quantity.touched)" class="alert alert-danger">
          <span *ngIf="quantity.hasError('required')">
            Please provide quantity
          </span>
        </span>
      </div>
      
      <div class="form-outline mb-4">
        <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" formControlName="description" >
              <span *ngIf="!description.valid && (description.touched)" class="alert alert-danger">
                <span *ngIf="description.hasError('required')">
                    Please provide description
                </span>
                <span *ngIf="description.hasError('minlength')">
                  Please provide valid description
                </span>
              </span>
      </div>

      <div class="form-outline mb-2">
        <label class="form-label" for="typePicture-3">Choose article picture</label>
        <div class="input-group">
          <input type="file" #imageInput class="form-control file-upload" id="typePicture-3" accept="image/*" (change)="onFileChanged(imageInput)" aria-describedby="inputGroupFileAddon">
        </div>
      </div>

      <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-primary" style="background-color: #7de473;color:black;" (click)="addArticle()">Add Article</button>
      </div>
    </form>
  </div>
</div>